.main {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.head {
    float: left;
}

.contant {
    float: right;
    padding-left: 20px;
}

.basic p{
    display: inline;
}

.call p{
    display: inline;
}

p {
    word-spacing: 10px;
} 
