* {
    margin: 0;
    padding: 0;
}


a {
    font-size: 12px;
    color: #fff;
}

header {
    height: 60px;
    background-color: #333333;
}

.log {
    width: 100%;
    margin: 0 auto;
    color: #ffffff;
}

h2 {
    position: absolute;
    left: 200px;
    line-height: 60p;
    padding-top: 10px;
}

.menu-top {
    float: right;
    margin-top: 5px;
    padding-right: 200px;
}

.menu-top li {
    list-style-type: none;
    display: inline;
    margin-left: 5px;
}

a:link,:visited{
    text-decoration: none;
    color:aliceblue;
}

.banner {
    width: 100%;
    margin: 0 auto;
    height: 200px;
    background-color: limegreen;
}

.turns {
    float: right;
    margin-top: 160px;
    margin-right: 200px;
}

.num li {
    display: inline-block;
    background-color: #b2dd99;
    list-style-type: none;
    width: 20px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    vertical-align: bottom;
    border: 1px solid black;
    margin-left: 5px;
}

ul li.num-select {
    color: grey;
    width: 20px;
    height: 35px;
    line-height: 45px;
    background-color: #ffffff;
}

nav {
    width: 100%;
    margin: 0 auto;
    height: 70px;
    border-bottom: 1px solid #abadab;
}

.menu {
    position: relative;
    height: 60px;
    top: 10px;
}

.menu .menu-middle {
    position: absolute;
    left: 200px;
    bottom: -1px;
}

.menu ul li {
    display: inline-block;
    background: #eeeeee;
    padding: 15px 30px;
    border: 1px solid #cccccc;
    border-radius: 20px 20px 0 0;
}

.menu ul li:hover {
    background-color: transparent;
    border-bottom: 2px solid rgba(255,255,255,1);
}

.menu .menu-middle a {
    color: #abadab;
    border: none;
}

section {
    width: 100%;
    margin: 0 auto;
}

.main-content {
    width: 960px;
    margin-left: 200px;
    margin-right: 200px;
    display: flex;
    flex-direction: column;
}
.main {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.content1 {
    border: 1px solid #ccc;
    padding: 86px 106px;
    margin: 10px 10px 0 0;
    text-align: center;
}
.content2 {
    border: 1px solid #ccc;
    padding: 80px;
    margin: 10px 10px 0 0;
    text-align: center;
}
.content3 {
    border: 1px solid #ccc;
    padding: 86px 116px;
    margin: 10px 10px 0 0;
    text-align: center;
}

footer {
    width: 100%;
    height: 60px;
    margin-top: 10px;
    padding-top: 20px;
    text-align: center;
    color: aliceblue;
    background-color: #333333;
}
